* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blueviolet;
    color: white;
    font-family: 'podkova';
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(192, 11, 202);
    

}



.ui{
    display: inline;
    font-size: medium;
    margin-right: 15px;
    
    
}

nav ui {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;

}

.section {
    display: flex;
    display: inline;
}

.seleft {
    background-color: rgb(32, 35, 31);
    width: 50%;
    height: 200px;
    margin-right: 50%;
}
.seleft h4{
    text-align: center;
}

.seright {
    background-color: rgb(27, 29, 27);
    height: 400px;
    width: 50%;
    margin-left: 50%;
    margin-bottom: 100%;
    
   
}
.seright img{
    width: 100%;
    height: auto;
    
}